# [submodule "albot-description"]
# 	path = packages/albot-description
# 	url = git@github.com:Pequi-Mecanico-Home/albot-description.git
[submodule "packages/albot-description"]
	path = packages/albot-description
	url = git@github.com:Pequi-Mecanico-Home/albot-description.git
[submodule "packages/albot_move"]
	path = packages/albot_move
	url = git@github.com:Pequi-Mecanico-Home/albot_move.git
[submodule "packages/aws-robomaker-small-warehouse-world"]
	path = packages/aws-robomaker-small-warehouse-world
	url = git@github.com:Pequi-Mecanico-Home/aws-robomaker-small-warehouse-world.git
